#openFile,
#secondaryOpenFile,
#download,
#secondaryDownload,
#viewBookmark,
#secondaryViewBookmark,
#print,
#secondaryPrint {
  display: none !important;
}

.fl_print_allowed #print {
  display: block !important;
}
@media all and (max-width: 700px) {
  .fl_print_allowed #print {
    display: none !important;
  }
  .fl_print_allowed #secondaryPrint {
    display: initial !important;
  }
}

.fl_download_allowed #download {
  display: block !important;
}
@media all and (max-width: 700px) {
  .fl_download_allowed #download {
    display: none !important;
  }
  .fl_download_allowed #secondaryDownload {
    display: initial !important;
  }
}

#pageRotateCw,
#pageRotateCcw,
#pageRotateCcw + .horizontalToolbarSeparator {
  display: none;
}

#cursorHandTool + .horizontalToolbarSeparator,
#scrollVertical,
#scrollHorizontal,
#scrollWrapped,
#scrollWrapped + .horizontalToolbarSeparator,
#spreadNone,
#spreadOdd,
#spreadEven,
#spreadEven + .horizontalToolbarSeparator,
#documentProperties {
  display: none;
}

body {
  background-color: #2f3133;
  background-image: none;
}

#loadingBar {
  height: 1px;
  background-color: transparent;
  border-bottom: none;
}

#loadingBar .progress {
  background-color: #0078a7;
}

#toolbarContainer,
.secondaryToolbar,
.findbar {
  background-color: #484b4d;
  background-image: none;
}

.thumbnail {
  margin: 0 14px 5px;
}

.thumbnail:not([data-loaded]) {
  border-radius: 6px;
  background-color: #606566;
  border: none;
  margin: 0 14px 5px;
}

.thumbnailSelectionRing {
  border: 6px solid transparent;
  border-radius: 6px;
  padding: 0;
  background-color: transparent;
  background-image: none;
}

.thumbnail.selected > .thumbnailSelectionRing {
  border: 6px solid #0078a7;
  background-color: transparent;
  background-image: none;
}

.thumbnail:hover > .thumbnailSelectionRing {
  border: 6px solid #0597cc;
  background-color: transparent;
  background-image: none;
}

.thumbnail.selected:hover > .thumbnailSelectionRing {
  border: 6px solid #0078a7;
}

.thumbnailImage {
  border: 1px solid #2f3133;
}

html[dir="ltr"] #toolbarSidebar,
html[dir="rtl"] #toolbarSidebar,
html[dir="ltr"] #sidebarContent,
html[dir="rtl"] #sidebarContent,
html[dir="ltr"] #viewerContainer,
html[dir="rtl"] #viewerContainer,
.thumbnailImage,
.thumbnail.selected > .thumbnailSelectionRing > .thumbnailImage {
  box-shadow: none;
}

.secondaryToolbar,
.findbar,
html[dir="ltr"] #toolbarContainer,
html[dir="rtl"] #toolbarContainer {
  box-shadow: 0 0 12px 0 rgb(0 0 0 / 0.48);
}

#toolbarViewer {
  padding: 0 12px;
}

#sidebarContainer {
  border: none;
}

#toolbarSidebar {
  height: 63px;
}

#toolbarSidebar .splitToolbarButton {
  margin: 24px 53px 14px;
}

#sidebarContent {
  top: 63px;
  background-color: transparent;
}

#toolbarSidebar,
#thumbnailView {
  background-color: #2f3133;
  background-image: none;
}

#scaleSelectContainer {
  margin: 6px 0;
}

.pdfViewer .page {
  background-color: #2f3133;
  border-image: none;
  -webkit-background-clip: border-box;
  -moz-background-clip: border-box;
  background-clip: border-box;
}
